@media screen and (min-width: 550px) and (max-width: 750px){
    header{
        margin: 10px 0;
        margin-left: 3px;
    }
    header #box-perfil{
        width: 15%;

    }
    header #box-perfil p{
        display: none;
    }
    header #box-logo{  
        width: 15%;
        margin-left: 12px;

    }
    header #box-logo h2{
        font-size: 16px;
    }
    header #box-seacrh{
        width: 50%;
    }
}
@media screen and (min-width: 350px) and (max-width: 550px){
    header{
        margin: 10px 0;
        margin-left: 3px;
    }
    header #box-perfil{
        width: 8%;

    }
    header #box-perfil p{
        display: none;
    }
    header #box-logo{  
        width: 12%;
        margin-left: 10px;

    }
    header #box-logo h2{
        font-size: 14px;
    }
    header #box-seacrh{
        width: 50%;
    }
    header #box-seacrh label #seacrh{
        transition: 0.5s;
        width: 200px;
    }
}